.audioPlayer {
  height: 100%;

  cursor: pointer;

  display: flex;
  flex-direction: column;
}

.audioPlayer .content {
  flex-grow: 1;
}

.audioPlayer .footer {
  justify-content: right;
}

.audioPlayer .footer :global(.btn) {
  margin-right: 0;
  margin-left: 4px;
}

.audioPlayer .footer :global(.btn .icon) {
  margin-right: -7px;
}

.progressBackground {
  --background-color: #eee;
  transition: background .1s linear;
}
